            <footer class="footer wrap">
                <div class="m10 p10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint architecto voluptatum eveniet voluptates. Nihil laudantium vel omnis, sit ratione voluptatibus tempore dolores error delectus nesciunt sunt odit amet ea facilis?</div>
                <div class="m10 p10">conference &copy; 2017</div>
            </footer>