            <header class="header ">
                <div class="headerWrap">
                    <div class="headerBtns">
                        <ul class="menu">
                            <li><div class="a" onclick="onRout('home')">головна</div></li>
                            <li><div class="a" onclick="onRout('apply')" >заявка</div></li>
                            <li><div class="a" onclick="onRout('about')">про нас</div>
                            <li class="menu__list"><div class="a">минулі конференції</div>
                                <ul class="menu__drop">
                                    <li class="a">1 conf</li>
                                    <li class="a">2 conf</li>
                                    <li class="a">3 conf</li>
                                    <li class="a">4 conf</li>
                                    <li class="a">5 conf</li>
                                </ul>
                            </li>
                            <li><div class="a" onclick="onRout('contacts')">контакти</div></li>
                        </ul>
                    </div>
                    <div class="loginSection">
                        <ul class="menu">
                            <li class="menu__list"><div class="a">логін</div>
                                <ul class="menu__drop-logo">
                                    <li class="a"><input type="text" name="user[name]"></li>
                                    <li class="a"><input type="text" name="user[email]"></li>
                                    <li class="a"><input type="button" value="окі=)" onclick="send('login')"></li>
                                    {{!-- app.post("/", function (req, res) {
                                        console.log(req.body.user.name)
                                    }); --}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
