            <header class="header">
                <div class="headerWrap">
                    <div class="headerBtns">
                        <div class="btn">LOGO</div>
                        <div onclick="send('home')" class="btn">Home</div>
                        <div onclick="send('apply')" class="btn">Apply</div>
                        <div onclick="send('about')" id="about" class="btn">ABOUT</div>
                        <div onclick="send('contacts')" id="contacts" class="btn">CONTACTS</div>
                    </div>
                    <div class="loginSection">
                        <div class="loginInput">
                            <div class="btn">login</div>
                        </div>
                    </div
                </div>
            </header>
