
            <main id="home" class="wrap">
                <div class="bg center animated fadeIn">
                    <div class="p10">
                        <img class="foto" src="img/kpu.jpg" alt="">
                        <h1 class="m10 uppercase">Конференція</h1>
                        <p class="m5">Прийми участь у конференції</p>
                        <p class="m5" onclick="onRout('apply')">Подай заявку</p>
                        <p class="m5">Вже подано заявок: <span id="count">7</span></p>
                    </div>
                </div>
            </main>

            <main id="apply" class="wrap noVisible">
                <div class="bg animated fadeIn">
                    <div class="appHeader">
                        <h2>ЗАПОВНІТЬ ФОРМУ ДЛЯ ЗАЯВКИ НА УЧАСТЬ У КОНФЕРЕНЦІЇ</h2>
                    </div>
                    <div class="appContent">
                        <div class="appRow">
                            <div class="appRowDescription"><p>Виберіть щось</p></div>
                            <div class="appRowInput">
                                <select name="option">
                                    <option value="Kiev">Kiev</option>
                                    <option value="K-P">K-P</option>
                                    <option value="Viznica">Viznica</option>
                                </select>
                            </div>
                        </div>
                        <div class="appRow">
                            <div class="appRowDescription"><p>Імя</p></div>
                            <div class="appRowInput"><input type="text"></div>
                        </div>
                        <div class="appRow">
                            <div name="fio" class="appRowDescription"><p>Фамілія</p></div>
                            <div id="fioContactFise" class="appRowInput"><input type="text"></div>
                        </div>
                        <div class="appRow">
                            <div class="appRowDescription"><p>Назва статьї</p></div>
                            <div id="email" class="appRowInput"><input type="text"></div>
                        </div>
                        <div class="appRow">
                            <input id="sendBtn" type="button" value="ОТПРАВИТЬ">
                        </div>
                    </div>
                </div>
            </main>

            <main id="about" class="wrap noVisible">
                <div class="bg center animated fadeIn">
                    <div class="p10">
                        <h3 class="m10 uppercase">про нас</h3>
                        <p class="m5">lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex odit optio voluptas deserunt rerum! Nulla nihil, ratione ipsa eligendi cupiditate deserunt dicta, perferendis minus repudiandae quidem consequatur quo fuga. Quam?</p>
                    </div>
                    <div class="p10">
                        <h3 class="m10 uppercase">а ще ми</h3>
                        <p class="m5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis obcaecati sit omnis, laboriosam recusandae perferendis debitis ipsum rerum sapiente in nesciunt minus fugiat cupiditate blanditiis error est consequuntur autem possimus!</p>
                    </div>
                    <div class="p10">
                        <h3 class="m10 uppercase">дві фотки</h3>
                        <img class="foto" src="http://lorempixel.com/400/200" alt="">
                        <img class="foto" src="http://lorempixel.com/400/200/sports" alt="">
                    </div>
                </div>
            </main>

            <main id="contacts" class="wrap noVisible">
                <div class="bg center animated fadeIn">
                    <div class="p10">
                        <h3 class="m10 uppercase">наші контакти</h3>
                        <p class="m5">Телефон: 06722222222</p>
                        <p class="m5">Адреса: ФізМат</p>
                        <p class="m5" >Почта: fizmat@gmail.com</p>
                    </div>
                    <div class="form">
                        <form class="formLogin" method="post" action="/sendMail">
                            <p class="m5" >Відправте нам повідомлення</p>
                            <input id="name" class="formInput" type="text" name="name" placeholder="name">
                            <input id="email" class="formInput" type="text" name="mail" placeholder="mail">
                            <textarea id="message" class="formInput" name="message" id="" cols="30" rows="10" placeholder="Your message here..."></textarea>
                            <input id="sendBtn" onclick="send('message')" class="formInput" type="button" value="send">
                        </form>
                    </div>
                </div>
            </main>

{{#section 'script'}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/main.js"></script>
{{/section}}
